*.png
*.doc
*.docx
*.xlsx
*.xls
*.jpg
*.jpeg
*.csv
*.zip
*.tar
*.gz
*.bz
*.pdf
*.tmp
*.ppt
*.pptx
*.RData
*.RDataTmp
*.RDat*
*.rds*
*.Rhistory
*.db
*.bgs
*.luu
*.rhes
*.shess
glmmadmb/*

# CPython bitcode cache
python/__pycache__/*
